.lysy-gradient {
  background: -webkit-linear-gradient(50deg, #56c4c4, #F0E68C) !important;
  background: -o-linear-gradient(50deg, #56c4c4, #F0E68C) !important;
  background: linear-gradient(40deg, #56c4c4, #F0E68C) !important;
}

.text-lysy-gradient {
  background: -webkit-linear-gradient(#56c4c4, #F0E68C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-lysy-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.dropdown-content li>span {
  color: #5EC6C1;
}

.select-wrapper input.select-dropdown {
  color: #757575;
  font-weight: 300;
}

.mdb-select .caret {
  color: #757575 !important;
}

a.btn:hover {
  color: white;
}

@media (max-width: 768px) {
  .lk-name {
    font-size: 3.5rem !important;
  }

  .wave-footer {
    top: -250px !important;
    background-size: 80% 60px !important;
  }
}

.pt-6,
.py-6 {
  padding-top: 5rem !important;
}

.pr-6,
.px-6 {
  padding-right: 5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 5rem !important;
}

@media (min-width: 768px) {

  .pt-md-6,
  .py-md-6 {
    padding-top: 5rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 5rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 5rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 5rem !important;
  }
}

.wave-footer {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: -230px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: 70% 60px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  transform-origin: center bottom;
}
